pandas==1.3.5
pandas-profiling==3.6.6

Pillow==10.2.0


streamlit==1.30.0

joblib==1.2.0

numpy==1.22.0

pandas==1.3.5

Pillow==10.2.0

streamlit==1.30.0
streamlit-option-menu==0.3.2
streamlit-pandas-profiling==0.1.3

xgboost==1.6.2



